.Youtube{
    figure{

    }
    .content{
        h1{

        }

        article{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;

            &:nth-of-type(even){
                flex-direction: row-reverse;
            }

            .titbox{
                width: 30%;
            }

            .conbox{
                width: 40%;
            }

            .pic{
                width: 30%;
                height: 200px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}