.Members {
	.content {
	  table {
		width: 100%;
		border: 2px solid #e1e1e1;
		border-radius: 5px;
		margin-bottom: 20px;
  
		th, td {
		  border-bottom: 1px solid #e1e1e1;
		  padding: 15px 30px;
		  text-align: left;
		}
  
		th {
		  width: 20%;
		}
  
		th:last-child {
		  text-align: center;
  
		  input[type='submit'],
		  input[type='reset'] {
			border: 1px solid #aaa;
			width: 150px;
			height: 30px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin: 0px 10px;
			cursor: pointer;
		  }
		}
  
		td {
		  input[type='text'],
		  input[type='password'] {
			width: 80%;
			padding: 10px;
			border: 1px solid #aaa;
			border-radius: 5px;
		  }
  
		  p {
			font-size: 0.8rem;
			color: rgb(255, 116, 23);
			margin-top: 5px;
		  }
		}
  
		/* Borders */
		td {
		  border-left: 1px solid #e1e1e1;
		}
  
		th:last-child,
		td:last-child {
		  border-right: 1px solid #e1e1e1;
		}
	  }
	}
  }
  

//tablet mediaquery
.tablet,
.mobile {
	.Members {
		.content {
			table {
				td {
					input[type='text'],
					input[type='password'],
					textarea,
					select {
						width: 100%;
					}
				}
			}
		}
	}
}

//tablet mediaquery
.mobile {
	.Members {
		.content {
			table {
				th {
					display: none;
					&:last-child {
						display: block;
						width: 100%;

						input {
							width: 40%;
						}
					}
				}
				td {
					width: 100%;
					border-left: none;
					padding: 20px 0px;

					input[type='text'],
					input[type='password'],
					textarea,
					select {
						width: 100%;
					}
				}
			}
		}
	}
}
	