.Gallery {
	overflow: hidden;

	.content {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  align-items: center; /* 추가: 가운데 정렬 */
	}
  
	.Box {
	  width: 95%;
	  display: flex;
	  background: rgba(11, 19, 39, 0.4);
	  justify-content: space-between;
	  margin-top: 40px;
	  margin: 0 auto; /* 추가: 중앙 정렬 */
  
	  .txtBox {
		color: #000000;
		text-align: center;
		width: 30%;
		margin: 100px auto;
		transition: 0.7s;

		&:hover{
			transform: scale(1.1);
			color: rgb(25, 45, 97);
		}
	  }
	}

	hr{
		width: 30%;
		height: 7px;
		margin: 0 auto;
		background: rgb(25, 45, 97);
		border: none;
	  }

	.totalBox{
		margin-top: 30px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		// border-top: 1px solid #000000;

		.exBox {
			width: 50%;
			float: left; /* 왼쪽 정렬 */
			margin-top: 120px;
			margin-bottom: 100px;

			h2, span {
				text-align: center; /* 텍스트를 가운데 정렬 */
				display: flex;
				align-items: center; /* 수직 가운데 정렬 */
				justify-content: center; /* 수평 가운데 정렬 */
				margin-top: 5px;
				padding: 20px;
			  }

			  h2{
				color: rgb(25, 45, 97);
			  }
			  span{
				color:#777;
			  }
		  }

		
		  .imgBox {
			width: 50%;
			margin-top: 80px;
			background: #b1b1b1;
			height: 50vh;
			margin-bottom: 40px;
			float: right; /* 오른쪽 정렬 */
			transition: 0.5s;

			img{
				width: 100%;
				height: 50vh;
				object-fit: cover;
			}

			&:hover{
				transform: scale(1.04);
			}
		  }
	}

	  
	  .searchBox {
		width: 70%;
		max-width: 600px;
		margin-bottom: 20px;
	
		form {
			display: flex;
		  }
		  
		  input {
			flex: 1;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px 0 0 5px;
		  }
		  
		  button {
			padding: 10px 20px;
			background-color: #000000;
			color: #fff;
			border: 1px solid #ccc;
			border-radius: 0 5px 5px 0;
			cursor: pointer;
		  }
	  }
	  
	  .btnSet {
		display: flex;
		margin-bottom: 20px;
	
		button {
			color: #fff;
			padding: 10px 20px;
			margin-right: 10px;
			background-color: #030303;
			border: 1px solid rgb(25, 45, 97);
			border-radius: 5px;
			cursor: pointer;
		
			&.on {
				background-color:rgb(25, 45, 97);
				color: #fff;
			  }
		  }
	  }
	  
	  .picFrame {
		width: 100%;

		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: 25%;
			padding: 10px;
			float: left;

			.inner {
				width: 100%;
				padding: 10px;
				background: #383838;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

				.pic {
					width: 100%;
				}
				h2 {
					font: normal 1rem/1.2 'arial';
					color: #ddd;
					margin-top: 10px;
					margin-bottom: 40px;
				}
				.profile {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 20px;

					span {
						color:rgb(25, 45, 97);
						font-size: 0.8rem;
					}
				}
			}
		}
	}
  
} 
  
  
  // Adjust Masonry styles if needed
  .Masonry {
	display: flex;
	width: 100%;
	& > div {
	  width: 100%;
	}
  }

  .laptop {
	.Gallery {
		.picFrame {
			.totalBox{
				flex-wrap: wrap;
			}
			article {
				width: 32%;
			}
		}
	}
}
.tablet {
	.Gallery {
		.picFrame {
			article {
				width: 48%;
			}
		}
	}
}
.mobile {
	.Gallery {
		.picFrame {
			article {
				width: 100%;
			}
		}
	}
}


  