@import '../../../styles/Variable.scss';

.Gallery {
	.content{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
  }
  .imgBox{
	width: 100%;
	background: #b1b1b1;
	height: 30vh;
	margin-bottom: 40px;

  }

  .Box{
	width: 70%;
	display: flex;
	justify-content: space-between;

	.txtBox{
		text-align: center;
		width: 30%;
		margin: 100px auto;
	  }
  }
  
  .searchBox {
	width: 70%;
	max-width: 600px;
	margin-bottom: 20px;

	form {
		display: flex;
	  }
	  
	  input {
		flex: 1;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px 0 0 5px;
	  }
	  
	  button {
		padding: 10px 20px;
		background-color: #6b6b6b;
		color: white;
		border: 1px solid #ccc;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
	  }
  }
  
  .btnSet {
	display: flex;
	margin-bottom: 20px;

	button {
		padding: 10px 20px;
		margin-right: 10px;
		background-color: #f0f0f0;
		border: 1px solid #ccc;
		border-radius: 5px;
		cursor: pointer;
	
		&.on {
			background-color: #a0a0a0;
			color: white;
		  }
	  }
  }
  
  .picFrame {
	width: 70%;

	&::after {
		content: '';
		display: block;
		clear: both;
	}
	article {
		width: 25%;
		padding: 10px;
		float: left;

		.inner {
			width: 100%;
			padding: 10px;
			background: #ffffff;
			box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

			.pic {
				width: 100%;
			}
			h2 {
				font: normal 1rem/1.2 'arial';
				color: #555;
				margin-top: 10px;
				margin-bottom: 40px;
			}
			.profile {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 20px;

				span {
					font-size: 0.8rem;
				}
			}
		}
	}
} 
  
  
  // Adjust Masonry styles if needed
  .Masonry {
	display: flex;
	width: 100%;
	& > div {
	  width: 100%;
	}
  }
  