
.header {
	width: 100%;
	padding: 3vh 10vw;
	display: flex;
	justify-content: space-between;
	background: #ddd;

	h1 {
		font-size: 1.5rem;
		font-family: serif;
		color: #333;
	}

	ul {
		display: flex;
		gap: 4vw;
		align-items: center;
		font-size: 1rem;
		color: #333;

		li {
			a.active {
				color: rgb(7, 60, 194);
			}
		}
	}

	.bars{
		display: none;
	}
}

.header.main {
	h1 {
		color: aqua;
	}
}

.header.sub {
	h1 {
		color: hotpink;
	}
}

.tablet,
.mobile {
	.header {
		ul {
			display: none;
		}

		.bars{
			display: block;
		}
	}
}


