.Community {
	.content {
		width: 100%;

		h1{
            font-size: 7rem;
            padding-bottom: 2rem;
            padding: 2rem ;
		}

		.totalBox{
			width: 80%;
			display: flex;
			margin-top: 50px;

			.imgBox {
				width: 40%;
				height: 50vh;
				background: #777;
				margin-left: 35px;
			  }
	
			.txtBox{
				width: 35%;
				height: 50vh;
				margin-left: 10px;
				text-align: center;
				align-items: center;
				border-top: 1px solid #777;

				h2,span{
					align-items: center;
					padding: 40px;
				}
			}
		}

		  
		  section{
			display: flex;
			justify-content: space-around;
			
			.inputBox {
				width: 60%;
				height: 30vh;
				margin-bottom: 50px;
				border-top: 1px solid #aaa;
				padding: 50px;
			
				input[type='text'],
				textarea {
					width: 80%;
					padding: 8px 10px;
					border: 1px solid #aaa;
					resize: none;
					margin-bottom: 10px;
					background: #f0fdff;
				}
			
				.btnSet button {
					width: 150px;
					height: 30px;
					display: inline-block;
					border: none;
					background: #555;
					margin-right: 20px;
					color: #fff;
					cursor: pointer;
				}
			}
		  

		.showBox {
			width: 30%;
			height: 30vh;
			border-top: 1px solid #aaa;
			padding: 50px;

			article {
				background: #fff;
				padding: 30px;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				align-content: center;
				flex-wrap: wrap;

				.txt {
					width: 88%;
					h2 {
						margin-bottom: 10px;
					}

					input[type='text'],
					textarea {
						width: 50%;
						padding: 8px 10px;
						border: 1px solid #aaa;
						resize: none;
						margin-bottom: 10px;
						background: #f0fdff;
					}
					
				}
				.btnSet {
					width: 100%;
					display: flex;
					gap: 20px;
					align-items: center;
					justify-content: flex-end;

					button {
						border: none;
						background: transparent;
						cursor: pointer;
						&:nth-of-type(1) {
							color: orange;
						}
						&:nth-of-type(2) {
							color: orangered;
						}
					}
				}
			}
		}
	}
			
}
}