.Contact {
	overflow: hidden;

	figure {
		background: rgb(25, 45, 97);
	}

	.content {
		width: 100%;

		h1 {
			background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 50%);
			text-align: center;
			width: 45%;
			font-size: 7rem;
			font-family:serif;
			padding-bottom: 1rem;
			padding: 2rem ;
			border-top: 6px solid rgb(25, 45, 97);
		}

		.imgBox{
			width: 100%;
			height: 30vh;
			background: #777;
			margin-bottom: 40px;
		}

		.txtBox{
			width: 80%;
			height: 60vh;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 10px auto;
			border-bottom: 2px solid rgb(0, 0, 0);
			border-top: 2px solid rgb(0, 0, 0);
			
			.box1{
				width: 10%;
				margin-right: 10px;
				
				h2{
					font-size: 3rem;
					color: rgb(25, 45, 97);
				}
			}
			.box2{
				width: 100%;
				background: #f8f8f8;
				border-top: 5px solid rgb(25, 45, 97);
				margin-left: 1.5rem;
				flex-wrap: wrap;
				align-items: center;
				text-align: center;
				transition: 0.5s;

				.pic{
					width: 90%;
					height: 15vh;
					padding: 10px;
					background: rgb(25, 45, 97, 0.5);
					margin: 20px auto;

					img{
						width: 100%;
						height: 15vh;
						object-fit: cover;
						padding: 10px;
						margin: 20px auto;
					}

				}
				span{
					padding-top: 80px;
				}

				&:hover{
					transform: scale(1.05);
				}
			}
		}


		.upperBox {
			width: 70vw;
			margin: 0px auto;
			margin-top: 100px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			#mailBox {
				width: 50%;
				margin: 0px auto;
				margin-bottom: 100px;
				padding-right: 50px;

				.upper {
					width: 100%;
					display: flex;
					margin-bottom: 50px;
					justify-content: space-between;

					span {
						width: 48%;

						label {
							font: bold 1rem/1 'arial';
							color: rgb(25, 45, 97);
							width: 100%;
							position: relative;
						}
						input[type='text'],
						input[type='email'] {
							width: 100%;
							border: none;
							padding: 10px 20px;
							border-bottom: 3px solid #000000;
							margin-right: 50px;
							outline: none;
							transition: 0.5s;

							&:focus {
								background: lightcyan;
							}
						}
					}
				}
				.lower {
					width: 100%;
					margin-bottom: 10px;

					label {
						display: block;
						margin-bottom: 5px;
						font: bold 1rem/1 'arial';
						color: rgb(25, 45, 97);
					}
					textarea {
						width: 100%;
						padding: 10px;
						border: none;
						border-bottom: 1px solid #777;
						margin-right: 50px;
						resize: none;
						outline: none;
						transition: 0.5s;
						&:focus {
							background: lightcyan;
						}
					}
				}

				

				.btnSet {
					width: 100%;
					display: flex;
					justify-content: space-between;
					gap: 50px;

					input {
						width:100px;
						display: block;
						height: 40px;
						margin: 30px auto;
						background: transparent;
						background: rgb(25, 45, 97);
						border:none;
						font: 1rem/40px 'arial';
						color: #ddd;
						text-align: center;


					}
				}
			}

			#etc {
				color: #3b3b3b;
				width: 50%;
				height: 300px;
				padding-left: 50px;
				border-left: 1px solid rgb(25, 45, 97);
			}
		}

		#mapBox {
			width:100%;

			.total{
				display: flex;
				justify-content: space-around;

				.btnSet {
					width: 40%;
					margin-top: 30px;
					margin-bottom: 40px;
					display: flex;
					gap: 20px;
					justify-content: left;
					
					button{
						width: 150px;
						height: 40px;
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
						background: hsl(0, 0%, 84%);
						font: 1rem/40px 'arial';
						color: rgb(24, 57, 139);
						border: none;
						text-align: center;
						transition: 0.5s;

						&:hover{
							transform: scale(1.2);
						}

						button.on {
							color: rgb(178, 178, 178);
						}
					}
				}
				ul {
					width: 40%;
					margin-top: 30px;
					margin-bottom: 40px;
					display: flex;
					gap: 20px;
					justify-content: right;
		
					li {
						width: 150px;
						height: 40px;
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
						background: hsl(0, 0%, 84%);
						font: 1rem/40px 'arial';
						color: rgb(24, 57, 139);
						text-align: center;
						transition: 0.5s;

						&:hover{
							transform: scale(1.2);
						}
					}
		
					li.on {
						color: rgb(128, 128, 128);
					}
				}
			}




			.mapBox{
				width: 100%;
				.container {
					width: 100%;
					height: 60vh;
					background: #111;
					position: relative;
	
					.map,
					.view {
						width: 100%;
						height: 100%;
						background: #111;
						position: absolute;
						top: 0;
						left: 0px;
						opacity: 0;
						z-index: 1;
	
						&.on {
							opacity: 1;
							z-index: 2;
						}
					}
				}

			}


			
		}
	}
}
.tablet,
.mobile {
	.Contact {
		.content {
			.box1{
				flex-wrap: wrap;

				.box2{
					flex-wrap: wrap;
					width: 100%;
				}
			}
			.upperBox {
				#mailBox {
					width: 100%;
					padding-right: 0px;
				}

				#etc {
					width: 100%;
					height: auto;
					padding-left: 0px;
					border-left: none;
				}
			}
		}
	}
}
